<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Auftragsbest&auml;tigung</title>
</head>
<body>
	<h1>Auftragsbest&auml;tigung</h1>
	<p
		th:text="'Hiermit best&auml;tigen wir Ihnen folgende &Uuml;berweisung'" />
	<p th:text="'Quellkonto: ' + ${ueberweisung.quellkonto.name}" />
	<p th:text="'Ziel-IBAN: ' + ${ueberweisung.zielIban}" />
	<p th:text="'Betrag : ' + ${ueberweisung.betrag}" />
	<p th:text="'Datum : ' + ${ueberweisung.datum}" />
	<p th:text="'Text : ' + ${ueberweisung.text}" />
	<br />
	<a href="/welcome">Zur&uuml;ck zur &Uuml;bersicht</a>
</body>
</html>