<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/head :: head"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

	<h2>Auftragsbest&auml;tigung</h2>
	<p th:text="'Hiermit bestätigen wir Ihnen folgende Überweisung'" />
	<p th:text="'Quellkonto: ' + ${ueberweisung.quellkonto.name}" />
	<p th:text="'Ziel-IBAN: ' + ${ueberweisung.zielIban}" />
	<p th:text="'Betrag : ' + ${ueberweisung.betrag}" />
	<p th:text="'Datum : ' + ${ueberweisung.datum}" />
	<p th:text="'Text : ' + ${ueberweisung.text}" />
	<br />

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>