<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <h2>Aktionshistorie der aktuellen Session</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Aktion</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="aktion : ${aktionen}">
                <td th:text="${aktion}"></td>
            </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>