<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>RiskyBank Startseite</title>
</head>
<body>
	<h1>Willkommen bei RiskyBank!</h1>
	<p th:text="'Angemeldet als ' + ${name}" />
	<br />
	<h2>Aktionshistorie der aktuellen Session:</h2>
	<th:block th:each="aktion : ${aktionen}">
		<p th:text="${aktion}"></p>
	</th:block>
	<a href="/login?logout">Logout</a>
	<br />
</body>
</html>