<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/head :: head"></head>
<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
	<div class="alert alert-danger">
		<h1>Das tut uns leid :(</h1>
		<span class="text">Es gab einen Fehler bei Ihrer Überweisung:</span>
		<pre>
			<code>
				<span th:text="${error}"></span>
			</code>
		</pre>
		<a href="/ueberweisung"><i class="fa fa-repeat fa-fw"></i>Nochmal versuchen</a>
	</div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>