<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <h2 class="mb-3">Überweisung per GET</h2>
    <div class="container mb-4">
        <form action="doUeberweisung" method="GET">
            <div class="form-group row">
                <label for="cb-quellkonto-get" class="col-sm-2 col-form-label">Quellkonto</label>
                <select class="form-control col-sm-10" name="quellkonto" id="cb-quellkonto-get">
                    <option th:each="konto : ${konten}"
                            th:value="${konto.id}"
                            th:text="${konto.name}+' (Saldo: '+${konto.saldo}+')'"/>
                </select>
            </div>
            <div class="form-group row">
                <label for="tx-iban-get" class="col-sm-2 col-form-label">IBAN</label>
                <input name="iban" type="text" id="tx-iban-get" class="form-control col-sm-10" />
            </div>
            <div class="form-group row">
                <label for="tx-betrag-get" class="col-sm-2 col-form-label">Betrag</label>
                <input name="betrag" type="number" id="tx-betrag-get" class="form-control col-sm-10" />
            </div>
            <div class="form-group row">
                <label for="tx-text-get" class="col-sm-2 col-form-label">Text</label>
                <input name="text" type="text" id="tx-text-get" class="form-control col-sm-10" />
            </div>
            <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" class="btn pl-5 pr-5">Senden</button>
                </div>
            </div>
        </form>
    </div>

    <h2 class="mb-3">&Uuml;berweisung per POST</h2>
    <div class="container mb-4">
        <form action="doUeberweisung" method="POST">
            <div class="form-group row">
                <label for="cb-quellkonto-post" class="col-sm-2 col-form-label">Quellkonto</label>
                <select class="form-control col-sm-10" name="quellkonto" id="cb-quellkonto-post">
                    <option th:each="konto : ${konten}"
                            th:value="${konto.id}"
                            th:text="${konto.name}+' (Saldo: '+${konto.saldo}+')'"/>
                </select>
            </div>
            <div class="form-group row">
                <label for="tx-iban-post" class="col-sm-2 col-form-label">IBAN</label>
                <input name="iban" type="text" id="tx-iban-post" class="form-control col-sm-10" />
            </div>
            <div class="form-group row">
                <label for="tx-betrag-post" class="col-sm-2 col-form-label">Betrag</label>
                <input name="betrag" type="number" step="any" id="tx-betrag-post" class="form-control col-sm-10" />
            </div>
            <div class="form-group row">
                <label for="tx-text-post" class="col-sm-2 col-form-label">Text</label>
                <input name="text" type="text" id="tx-text-post" class="form-control col-sm-10" />
            </div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button type="submit" class="btn pl-5 pr-5">Senden</button>
                </div>
            </div>
            <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
        </form>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>