<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>

<div th:replace="fragments/navbar :: navbar"></div>

<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"><i class="fa fa-bank fa-fw"></i>Risky Bank - Kunden-Portal</h1>
        <p class="lead">Willkommen im <b>Kunden-Portal</b> der Risky Bank!</p>
    </div>

    <h3>Übersicht Ihrer Konten</h3>
    <table class="table">
        <thead>
            <th>Konto</th>
            <th>Saldo</th>
        </thead>
        <tbody>
            <tr th:each="konto : ${konten}">
                <td th:text="${konto.name}"></td>
                <td th:text="${konto.saldo}"></td>
            </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>